<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <title>Contact V2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}" href="../../css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{fonts/font-awesome-4.7.0/css/font-awesome.min.css}" href="../../css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
    <!--===============================================================================================-->
</head>
<body>

<div class="bg-contact2" style="background-image: url('images/bg-01.jpg');">
    <div class="container-contact2">
        <div class="wrap-contact2">
            <h2 th:align="center">MENU</h2>
            <form action="/reservations" method="get">
                <div class="container-contact2-form-btn">
                    <div class="wrap-contact2-form-btn">
                        <div class="contact2-form-bgbtn"></div>
                        <button  class="contact2-form-btn" type="submit">
                            View reservations
                        </button>
                    </div>
                </div>
            </form>
            <form action="/logout" method="POST">
                <div class="container-contact2-form-btn">
                    <div class="wrap-contact2-form-btn">
                        <div class="contact2-form-bgbtn"></div>
                        <button class="contact2-form-btn" type="submit">
                            Logout
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<script th:src="@{vendor/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{vendor/select2/select2.min.js}"></script>
<script th:src="@{js/main.js}"></script>

</body>
</html>
