<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create reservation</title>
</head>
<body>
<form action="#" th:action="@{/reservation-update}" th:object="${reservation}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="serviceName">First name</label>
    <input type="text" th:field="*{serviceName}" id="serviceName" placeholder="Service Name">
    <br/>
    <label for="date">Date</label>
    <input type="text" th:field="*{date}" id="date" >
    <br/>
    <label for="time">Time</label>
    <input type="text" th:field="*{time}" id="time" >
    <br/>
    <input type="submit" value="Update User">
</form>
</body>
</html>