<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Users</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}" href="../../css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{fonts/font-awesome-4.7.0/css/font-awesome.min.css}" href="../../css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>
<div class="bg-contact2" style="background-image: url('images/bg-01.jpg');">
    <div class="container-contact2">
        <div class="wrap-contact2">
            <div th:switch="${reservations}">
                <h2 th:case="null">No Applications Found!</h2>
                <div th:case="*">
                    <h2 th:align="center">Applications</h2>
                    <table class="table-style">
                        <thead>
                        <tr>
                            <th>Personal ID</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Temperature</th>
                            <th>Had conntacted</th>
                            <th>Has cough</th>
                            <th>Breathing troubles</th>
                            <th>Headache</th>
                            <th>Phone Number</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="reservation : ${reservations}">
                            <div   >
                                <td class="td-id2" th:text="${reservation.personalCode}"></td>
                                <td class="td-name2" th:text="${reservation.name}"></td>
                                <td class="td-date2" th:text="${reservation.lastName}"></td>
                                <td class="td-time2" th:text="${reservation.temperature}"></td>

                                <td class="td-time2" th:if="${reservation.contactPerson == false}" th:text="No"></td>
                                <td class="td-time2" th:if="${reservation.contactPerson == true}" th:text="Yes"></td>

                                <td class="td-time2" th:if="${reservation.hasCough == false}" th:text="No"></td>
                                <td class="td-time2" th:if="${reservation.hasCough == true}" th:text="Yes"></td>

                                <td class="td-time2" th:if="${reservation.hasTroubleBreathing == false}" th:text="No"></td>
                                <td class="td-time2" th:if="${reservation.hasTroubleBreathing == true}" th:text="Yes"></td>

                                <td class="td-time2" th:if="${reservation.hasHeadache == false}" th:text="No"></td>
                                <td class="td-time2" th:if="${reservation.hasHeadache == true}" th:text="Yes"></td>

                                <td class="td-time2" th:text="${reservation.phoneNumber}"></td>
                                <div class="btn-container"><div sec:authorize="hasAuthority('reservations:write')">
                                    <td class="td-edit2"><a th:href="@{reservation-update/{id}(id=${reservation.personalCode})}">Edit</a></td>
                                    <td class="td-delete2"><a th:href="@{reservation-delete/{id}(id=${reservation.personalCode})}">Delete</a></td></div>
                                </div>
                            </div>
                        </tr>
                        </tbody>
                    </table>

                </div>
<!--                <p sec:authorize="hasAuthority('reservations:write')"><a href="reservation-create">Create reservation</a></p>-->
                <form action="/logout" method="POST">
                    <div class="container-contact2-form-btn">
                        <div class="wrap-contact2-form-btn">
                            <div class="contact2-form-bgbtn"></div>
                            <button class="contact2-form-btn" type="submit">
                                Logout
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--===============================================================================================-->
<script th:src="@{vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{js/main.js}"></script>


</body>
</html>